:root {
    --header-underline-color: rgb(27, 27, 97);
}

header {
    height: 70svh;
    margin-bottom: 0%;
    background-image: url("img/Pfarrkirchen_Panoramablick.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: start;
    justify-items: center;
}

header h1{
    color: black;
}

/* Footer-Stil */
footer {
    color: #fff;
    text-align: center;
    height: 10vh;
    display: flex;
    align-items: center;
}

/* Stil für Header und Footer */
header, footer {
    background-color: #0059ff;
    color: #fff;
    display: flex;
    justify-content: center;
}


nav {
    background-color: #333;
    height: 3.5em;
    display: flex;
    justify-content: left;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav ul li {
    display: inline;
    margin-right: 4%;
}



nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4em;

    background: 
      linear-gradient(to right, var(--header-underline-color), var(--header-underline-color)),
      linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  
}

/* Underline styles - details of technique here: https://nickymeuleman.netlify.app/blog/css-animated-wrapping-underline */

nav ul li a:hover,
nav ul li a:focus {
    background-size: 0 0.1em, 100% 0.1em;
}

/* Sticky Header */
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 100%;
    z-index: 100;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 10%;
    /* background-color: #8791a2; */
    opacity: 100%;
    transition: 6s ease-in ;
}

.navbar-wrapper{
    position: absolute;
    width: 100%;
}


.sticky-header{
    transition: border-bottom 0.3s;
}

.border{
    border-bottom: 0.4em solid rgb(62, 70, 112);
    box-sizing: border-box;
}

/* Hamburger Button */
/* wird nur für Handy-displays angezeigt */
@media only screen and (max-width: 1000px){
    .hamburger_button{
        width: 2.5em;
        height: 2.5em;
        margin-left: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;   
    }
    
    /* einzelne Striche im Hamburger Button */
    .stripe{
    width: 2.5em;
    height: 0.4em;
    background-color: white;
    border-radius: 2%;
    }

    #navbar-links{
        visibility: hidden;
    }
}

#navbar-links{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Die Links im Footer sollen nicht wie Standard-Links aussehen */
.footer-link a, .footer-link_last a{
    text-decoration: none;
    color: white;
}

/* mit ::after lässt sich ein "Pseudoelement" direkt nach dem eigentlichen HTML-Element
   erzeugen --> in diesem Fall ein Bindestrich */
.footer-link::after{
    content: "-";
    margin-left: 1em;
    margin-right: 1em;
}

/* display: inline macht, dass die Links nebeneinander angezeigt werden */
.footer-link, .footer-link_last{
    display: inline;
}

/* der Trennstrich zwischen dem Copyright-Siegel im Footer und den Links */
.vertical_stripe{
    width: 0.1em;
    height: 2em;
    margin-left: 2em;
    margin-right: 2em;
    background-color: white;
}